<a href="https://colab.research.google.com/github/BrennaLobb/STC510/blob/main/module3CrimeData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

want to know these specifics:
1. where different crimes are occuring
2. which areas crime is growing the fastest (or dropping the fastest)
3. whether certain crimes are more common in certain areas of city
4. ***just need data grouped by location (type of location or zipcode
5. violent vs non-violent crimes??

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import json

In [7]:
# read in the csv file from the Kaggle
crimejson = pd.read_csv("crimestat.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
#make sure it's in the right format i.e a dataframe
type(crimejson)

0         85029.0
1         85014.0
2         85006.0
3         85014.0
4         85307.0
           ...
341849    85051.0
341850    85015.0
341851    85041.0
341852    85307.0
341853    85051.0
Name: ZIP, Length: 341854, dtype: float64

In [9]:
#check to see if it's in the right formatted table
crimejson.head()

        INC NUMBER        OCCURRED ON  ...      ZIP         PREMISE TYPE
0  201600000052855  11/01/2015  00:00  ...  85029.0  SINGLE FAMILY HOUSE
1  201500002168686  11/01/2015  00:00  ...  85014.0          PARKING LOT
2  201600000594484  11/01/2015  00:00  ...  85006.0  SINGLE FAMILY HOUSE
3  201500002102327  11/01/2015  00:00  ...  85014.0            APARTMENT
4  201500002101405  11/01/2015  00:00  ...  85307.0  SINGLE FAMILY HOUSE

[5 rows x 7 columns]

In [10]:
crimejson.columns = ['INC_NUMBER','OCCURRED_ON','OCCURRED_TO','UCR_CRIME_CATEGORY','BLOCK_RADIUS_100','ZIP','PREMIS_TYPE']
crimejson

             INC_NUMBER        OCCURRED_ON  ...      ZIP               PREMIS_TYPE
0       201600000052855  11/01/2015  00:00  ...  85029.0       SINGLE FAMILY HOUSE
1       201500002168686  11/01/2015  00:00  ...  85014.0               PARKING LOT
2       201600000594484  11/01/2015  00:00  ...  85006.0       SINGLE FAMILY HOUSE
3       201500002102327  11/01/2015  00:00  ...  85014.0                 APARTMENT
4       201500002101405  11/01/2015  00:00  ...  85307.0       SINGLE FAMILY HOUSE
...                 ...                ...  ...      ...                       ...
341849  202100000122076  01/23/2021  23:04  ...  85051.0  BAR / LOUNG / NIGHT CLUB
341850  202100000125891  01/23/2021  23:14  ...  85015.0                   VEHICLE
341851  202100000124896  01/23/2021  23:30  ...  85041.0                   VEHICLE
341852  202100000122249  01/23/2021  23:46  ...  85307.0                 APARTMENT
341853  202100000122269  01/23/2021  23:52  ...  85051.0                 APARTMENT

[341854 rows x 7 columns]

In [11]:
#below sorts the crime data by zipcodes
zipcodes = crimejson.sort_values('ZIP')
zipcodes

             INC_NUMBER  ...                          PREMIS_TYPE
338847  202100000035697  ...          STREET / ROADWAY / SIDEWALK
332794  202000001989914  ...                         NURSING CARE
206313  201900000050844  ...               GROCERY / SUPER MARKET
154406  201800000514117  ...                            APARTMENT
18843   201600000328288  ...  STREET / ROADWAY / ALLEY / SIDEWALK
...                 ...  ...                                  ...
79811   201700000206086  ...                      SPECIALTY STORE
82385   201700000368400  ...              FENCED RESIDENTIAL YARD
174522     201880005657  ...  STREET / ROADWAY / ALLEY / SIDEWALK
201162  201800002191378  ...                      RETAIL BUSINESS
248457  201900001445596  ...          DEPARTMENT / DISCOUNT STORE

[341854 rows x 7 columns]

In [12]:
#below sorts the data based on type of crime
crime_type = crimejson.UCR_CRIME_CATEGORY.value_counts()
crime_type

LARCENY-THEFT                            174756
BURGLARY                                  50407
MOTOR VEHICLE THEFT                       36470
DRUG OFFENSE                              29870
AGGRAVATED ASSAULT                        27835
ROBBERY                                   14240
RAPE                                       5035
ARSON                                      2487
MURDER AND NON-NEGLIGENT MANSLAUGHTER       754
Name: UCR_CRIME_CATEGORY, dtype: int64

In [14]:
#areas with fastest growing crime rates
#counts number of crimes per zipcode
zipcrimes = crimejson.ZIP.value_counts()
zipcrimes
#by counting the number of times a zipcode appears, we can say that th higher the value_count,
#the more times that zipcode appeared, meaning the more crimes happened in that zipcode
#below indicates that in the zipcode: 85015 has the highest crime rate

85015.0    17456
85008.0    16123
85009.0    15304
85051.0    15267
85041.0    15052
           ...
85239.0        1
85209.0        1
85268.0        1
85266.0        1
85259.0        1
Name: ZIP, Length: 112, dtype: int64